*
{
    margin: 0;
    padding: 0;
    
}
body
{
    background-image: url(Orkut/bg1.jpg);    
    
}

.main
{
    width: 1000px;
    margin: auto;
}

.header
{
    height: 240px;
    background-repeat: no-repeat;
    background-image: url(Orkut/hbg1.jpg);
    background-position: center;
}

.menu
{
    height: 50px;
    width: auto;
    background-repeat: no-repeat;
    background-image: url(Orkut/mbg1.jpg);
    background-position: center;
}

.content
{
    height: 800px;
    align-items: center;
}

.leftbar
{
    width: 200px;
    height: 100%;
    float: left;
}
.centerbar
{
    width: 500px;
    height: 100%;
    float: left;
}

.rightbar
{
    width: 300px;
    height: 100%;
    float: left;
}

.leftbox1
{
    background-image: url(Orkut/mbg21.jpg);
    width: 190px;
    height: 600px;
    border: ridge green 7px;
    box-sizing: border-box;
    margin-top: 10px;

}
.leftbox2
{
    background-image: url(Orkut/mbg21.jpg);
    width: 190px;
    height: 200px;
    border: ridge green 7px;
    box-sizing: border-box;
    margin-top: 10px;
}

.centerbox1
{
    background-image: url(Orkut/mbg21.jpg);
    width: 490px;
    height: 240px;
    border: ridge green 7px;
    box-sizing: border-box;
    margin-top: 10px;
}

.centerbox2
{
    background-image: url(Orkut/mbg21.jpg);
    width: 490px;
    height: 230px;
    border: ridge green 7px;
    box-sizing: border-box;
    margin-top: 10px;
}
.centerbox3
{
    background-image: url(Orkut/mbg21.jpg);
    width: 490px;
    height: 320px;
    border: ridge green 7px;
    box-sizing: border-box;
    margin-top: 10px;
}
.rightbox1
{
    background-image: url(Orkut/mbg21.jpg);
    width: 290px;
    height: 400px;
    border: ridge green 7px;
    box-sizing: border-box;
    margin-top: 10px;
}
.rightbox2
{
    background-image: url(Orkut/mbg21.jpg);
    width: 290px;
    height: 400px;
    border: ridge green 7px;
    box-sizing: border-box;
    margin-top: 10px;
}

.footer
{
    height: 100px;
    width: 100%;
    background-image: url(Orkut/footbg.jpg);
    background-position: center;
    background-repeat: repeat-x;
}

.name
{
    text-align: center;
    color: white;
}

.span
{
    color: yellow;
}

.img
{
    text-align: center;
    margin: auto;
    width: 100%;
}
